# Project ignores
.env
*.env
__pycache__/
*.pyc
logs/
.data/
/data/

data/
backups/
node_modules/
/.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
